* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


#signup {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#signup__form {
    box-sizing: border-box;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.grid-col-span-2 {
    grid-column: span 2;
}

#signup__form__terms {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    flex-wrap: wrap;
}

#signup__form__termsdesc {
    inline-size: 28rem;
}

input {
    border: 1px solid rgb(117, 117, 117);
    border-radius: 3px;
    padding: 10px;
    font-size: 1rem;
}

input:focus {
    outline: none;
    border: 1px solid rgb(0, 140, 255);
    box-shadow:  0px 0px 5px rgba(8, 148, 230, 0.80);
}

.btn {
    color: white;
    padding: .8rem;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.btn:hover{
    cursor: pointer;
}

[type = checkbox] {
    cursor: pointer;
}

.btn--register {
    background-color: rgb(66, 139, 202);
}

.btn--singup {
    background-color: rgb(92, 184, 92);
}

.bold-text {
    font-weight: bold;
}

#terms-button {
    background-color: rgb(66, 139, 202);
    height: 3rem;
    padding: 0 10px;
    font-weight: bold;
    height: 1.5rem;
    font-size: 10px;
}

@media screen and (max-width: 800px) {
    #signup {
        width: 100%;
    }
    #signup__form__terms {
        display: flex;
        align-items: center;
        height: 10rem;
        padding-left: 4rem;
        margin-bottom: 5rem;
    }
    #signup__form__termsdesc {
        inline-size: 10rem;
        width: 13rem;
    }
}